img {
  opacity: 50;
}

.mission-button__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 550px;
  height: 40px;
  border: 2px solid #39372a;
  border-radius: 5px;
  margin-bottom: 1px;
  background-image: url("../../../../assets/bg-button-mission.jpg");
  background-size: cover;
}

.mission-button__container:disabled {
  opacity: 0.7;
  color: #000000;
  cursor: not-allowed;
}

.mission-button__container-left {
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  margin: 1px;
  height: 90%;
  width: 85px;
  background-color: rgba(51, 45, 33, 0.7);
  border-radius: 5px;
  font-family: wowBase;
  color: #b18a57;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
  text-align: start;
}

.mission-button__container-left-value {
  width: 45px;
  text-align: start;
}

.mission-button__container-left-symbol {
  height: 23px;
  width: 25px;
}

.mission-button__container-right {
  padding-left: 10px;
  font-weight: 700;
  font-size: 15px;
}
