.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3f1718;
}

.menu__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.774);
  padding: 10px;
  height: 500px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 0 0 10px 2px black, 0 0 10px 2px black;
}

.menu__img {
  max-height: 80px;
  max-width: 80px;
}
