.battle__content {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
}

.battle__log {
  width: 30vw;
  height: 80vh;
  background-color: rgba(39, 36, 28, 0.685);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 0 0 10px 2px black, 0 0 10px 2px black;
}

.battle__image {
  max-width: 30vw;
  max-height: 80vh;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 0 0 10px 2px black, 0 0 10px 2px black;
}
