.cheat {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100vw;
}

.cheat__button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.cheat__input {
  background: transparent;
  border: none;
}
